ul.list-group {
    margin: 0 auto;
    width: 345px;
}
div.dogsTimes {
    font-family: monospace;
    font-size: large;
}
span.crossingTimes {
    white-space: pre-wrap;
}
/*.active{
    background-color: #6c757d!important;
    border-color: #6c757d!important;
}*/