/* You can add global styles to this file, and also import other style files */
body { padding-top: 70px; }

div.teamTime {
  font-family: monospace;
  font-size: xx-large;
}
div.teamTime > span {
  font-size: medium;
}
