<div class="text-center">
  <h4>Lights</h4>
  <i [ngClass]="{'material-icons md-48': true, 'white': lightStates.State[0] == 1}">fiber_manual_record</i> <br>
  <i [ngClass]="{'material-icons md-48': true, 'red': lightStates.State[1] == 1}">fiber_manual_record</i> <br>
  <i [ngClass]="{'material-icons md-48': true, 'orange': lightStates.State[2] == 1, 'blue': lightStates.State[2] == 2}">fiber_manual_record</i> <br>
  <i [ngClass]="{'material-icons md-48': true, 'orange': lightStates.State[3] == 1}">fiber_manual_record</i> <br>
  <i [ngClass]="{'material-icons md-48': true, 'green': lightStates.State[4] == 1}">fiber_manual_record</i> <br>
</div>