  <div class="container">
    <p style="text-align:center">
      <span class="badge">
        Battery: {{systemData.bat}}%
        &nbsp;&nbsp;&nbsp; Race Id: {{systemData.Tag}} - {{systemData.RID}}
        &nbsp;&nbsp;&nbsp; Clients: {{systemData.clients}}
        &nbsp;&nbsp;&nbsp; Dir: {{systemData.dir}}<br />
        <br />
        {{systemData.sTime | date:'yyyy-MM-dd &nbsp;HH:mm'}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Up: {{hmsTime}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FW: {{systemData.FW}} 
        <!--| Mem: {{systemData.freeHeap}}-->
      </span>
    </p>
  </div>