<div class="row">
   <div class="column" style="width:6%;"></div>
   <div class="column" style="width:22%;">
      <select name="NumberOfRacingDogs" id="NumberOfRacingDogs" (change)="dogsChange($event.target.value)" [(ngModel)]="raceStates.RacingDogs"
         [ngStyle]="{'font-size':'23px'}" [disabled]="dogsChangeDisabled">
            <option *ngFor="let dog of numberOfDogs" [value]="dog.id">{{ dog.label }}</option>
      </select>
   </div>
   <div class="column" style="width:22%;">
      <button type="button" class="btn btn-success" (click)="EmitCommand(0)" [disabled]="startDisabled" >Start</button>
   </div>
   <div class="column" style="width:22%;">
      <button type="button" class="btn btn-danger" (click)="EmitCommand(1)" [disabled]="stopDisabled" >Stop</button>
   </div>
   <div class="column" style="width:22%;">
      <button type="button" class="btn btn-info" (click)="EmitCommand(2)" [disabled]="resetDisabled" >Reset</button>
   </div>
   <div class="column" style="width:6%;"></div>
</div>
<div class="row">
   <div class="column" style="width:50%;">
      <div class="form-check checkbox-slider--c-weight checkbox-slider-danger checkbox-slider-md d-inline">
         <label>
            <input type="checkbox" [disabled]="rerunsOffDisabled" [(ngModel)]="raceStates.RerunsOff[0]" (click)="EmitRerunsOff(!raceStates.RerunsOff[0])">
            <span style="font-size: x-small;" >Reruns OFF</span>
         </label>           
      </div>
   </div>
   <div class="column" style="width:50%;">
      <div class="raceState">
         <span [ngClass]="{'badge': true, 'badge-success': overallMaxState == 0, 'badge-danger': overallMaxState == 2,
                           'badge-warning': overallMaxState == 1 || overallMaxState == 3}">
            {{overallMaxState | friendlyRaceState}}
         </span>
      </div>
   </div>
</div>
