div.raceState {
    font-size: x-large;
    margin-top: 10px;
}

.row {
    width: 345px;
    margin:0px auto;
}

/* Create four equal columns that floats next to each other */
.column {
    padding: 2px;
}

select {
    width: auto;
    margin: auto;
}
select:focus {
    max-width: 100px;
    width: auto;
}