<div class="container" >
    &nbsp;
    <div class="title">
        Please login
    </div>
    &nbsp;
    <div class="panel-body pr-4">
            <div class="form-group m-0">
                <label for="username">Username</label>
                <input [(ngModel)]="user.username" id="username" 
                    type="username" class="validate form-control">&nbsp;
            </div>
            <div class="form-group m-0">
                <label for="password">Password</label>
                <input [(ngModel)]="user.password" id="password" 
                    type="password" class="validate form-control">&nbsp;
            </div>

        <span>{{errorMsg}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="login()" type="submit" name="action" class="form-control">Login</button>
    </div>
</div>