<div class="container">
  <div class="col-md-6 col-xs-12">
    <h4>Race Time</h4>
    <div class="teamTime">
      00:00<span>.000</span> s
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <h4>Controls</h4>
    <button type="button" class="btn btn-success" (click)="startRace()">Start</button>
    <button type="button" class="btn btn-danger" (click)="stopRace()">Stop</button>
    <button type="button" class="btn btn-info" (click)="resetRace()">Reset</button>
  </div>
  <div class="col-md-6 col-xs-12">
    <h4>Dog details</h4>
    Dog times go here
  </div>
</div>
