<div class="container">
  <div class="col-md-6 col-xs-12">
    <h4>Race Time</h4>
    <div class="teamTime">
      {{currentRace.elapsedTime | date: 'mm:ss'}}<span>.{{currentRace.elapsedTime % 1000}}</span> s
    </div>
    <div [ngClass]="{'label': true, 'label-success': currentRace.raceState == 0, 'label-warning': currentRace.raceState == 1, 'label-danger': currentRace.raceState == 2}">
      {{currentRace.raceStateFriendly}}
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <h4>Controls</h4>
    <button type="button" class="btn btn-success" (click)="startRace()" [disabled]="currentRace.raceState != 0">Start</button>
    <button type="button" class="btn btn-danger" (click)="stopRace()" [disabled]="currentRace.raceState == 0">Stop</button>
    <button type="button" class="btn btn-info" (click)="resetRace()" [disabled]="currentRace.raceState == 0">Reset</button>
  </div>
  <div class="col-md-6 col-xs-12">
    <h4>Dog details</h4>
    Dog times go here
  </div>
</div>
